.App {
  text-align: center;
  
}

.container {
  background-image: url("https://t3.ftcdn.net/jpg/00/56/04/44/360_F_56044460_ToC916mgN9XIURPcNEQMQnRGF41TeJ2y.jpg");
  /* /* background: cover;
  background-color: rebeccapurple;  */
   background-repeat: no-repeat; 
   background-size: 100%;
   /* background-size: contain; */
   /* object-fit: cover; */
   /* background-position: center; */
 
  display: grid;
  grid-template-columns: auto auto;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
